In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('railinfraorg.xls')

In [4]:
df.head(5)

,ประเภทราง,สาย,หน่วยงานรับผิดชอบ,ปี 2559,ปี 2560,ปี 2561,ปี 2562,ปี 2563,ปี 2564
0,รถไฟฟ้า,สีลม,กรุงเทพมหานคร,14.5,14.5,14.5,14.5,14.5,14.50
1,รถไฟฟ้า,สุขุมวิท,กรุงเทพมหานคร,22,22,22.8,34.8,34.8,53.50
2,รถไฟฟ้า,สีทอง,กรุงเทพมหานคร,-,-,-,-,-,1.88
3,รถไฟฟ้า,ฉลองรัชธรรม (สายสีม่วง),การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย,23.6,23.6,23,23,23,23.00
4,รถไฟฟ้า,เฉลิมรัชมงคล (สายสีน้ำเงิน),การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย,20,20,21,21,35,47.00