In [1]:
#pip install tabula-py

In [9]:
# import tabula as tb
# from tabula import read_pdf   # It is a choise

In [12]:
# import libraries
import pandas as pd
import PyPDF2

In [13]:
pdfFileObj = open('matedata-file.pdf', 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1736]

In [14]:
pdfReader

In [15]:
pageObj = pdfReader.getPage(0)
page1 = pageObj.extractText()
page1

'\nBusiness Metadata\n\n \n\n \n\n \n\n \n\n \n\n \n1\n \n\n \n\n\n \n\n\n \n2\n \n\n \n\n\n \n\n\n \n\n \n3\n \n\n \n\n\n \n\n \n4\n \n\n \n\nAbstract \n\n\n \n\n\n \n\n \n5\n \n\n\n \n\n \n\n \n\n\n \n6\n \n\n\n \n\n\n \n\n\n \n-\n \n7\n \n\n \n\n\nYYYY\n-\nMM\n-\nDD \n\n-\n\n-\n\n)\n \n-\n \n8\n \n\n\n\n \n\n\nYYYY\n-\nMM\n-\nDD \n\n\n-\n\n-\n\n)\n \n-\n \n'

In [16]:
# strip away page header
page1 = page1[25:]

# insert commas to separate variables and then remove excess strings
page1 = page1.replace('\n \n',', ').replace('\n','')

In [17]:
# set up line breaks
page1 = page1.replace('Point of Contact','Point of Contact break').replace('.org','.org break').replace('.gov', '.gov break')
#page1 = page1.replace('.org','.org break')
#page1 = page1.replace('.gov', '.gov break')

# split the text at the break
page1 = page1.split(' break')
page1

[', , , , 1, , , , 2, , , , , 3, , , , 4, , Abstract , , , 5, , , , , 6, , , , -, 7, , YYYY-MM-DD --), -, 8, , YYYY-MM-DD --), -, ']

In [19]:
# clean up leading commas
for i in range(1,len(page1)):
    page1[i] = page1[i][2:]

In [20]:
# Create dataframe
dbn_df = pd.DataFrame([sub.split(",") for sub in page1])
dbn_df.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,,,,,1,,,,2,,...,-,7,,YYYY-MM-DD --),-,8,,YYYY-MM-DD --),-,

In [24]:
# create new header names and drop first row
header = ['DBN','School Name','Address','City','Zip','Grade Level','Point of Contact']
dbn_df = dbn_df[1:]
dbn_df.columns = header

# strip NY from zip column
for i in range(1,len(dbn_df.Zip)):
    dbn_df['Zip'][i] = dbn_df['Zip'][i][4:]

ValueError: Length mismatch: Expected axis has 41 elements, new values have 7 elements